:root {
  /* Verdes */
  --color-viridian: #3A8476;
  --color-yellow-green: #A6CE39;

  /* Cian / Azul */
  --color-light-cyan: #E0FBFC;
  --color-egyptian-blue: #29339B;

  /* Naranjas / Rojizos */
  --color-burnt-sienna: #EE6C4D;
  --color-red-orange: #FF3A20;
  --color-soft-pink: #FF579F;
  --color-orange-peel: #FF9F1C;

  /* Neutros oscuros */
  --color-gunmetal: #293241;
  --color-dark-purple: #1C0221;
  --color-glossy-grape: #7B5E7B;
  --color-brown-dark: #4E2C2A;
  --color-brown-medium: #7A5E57;

  /* Neutros claros */
  --color-lavender-gray: #C8C6D7;
  --color-light-gray: #9A8E88;

  /* Neutros  */
  --white: white;
  --black: black;

}



/* --------------------------Custom-------------------------------- */

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-light-cyan);
  color: var(--color-gunmetal);
}

.presupuestador {
  width: 430px;
  margin: 50px auto;
  background-color: #e7e7ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0px;
  border-radius: 10px;
  gap: 10px;
}

.header {
  color: var(--color-gunmetal);
  font-size: 25px;
  font-weight: bold;
}

.header-top {
  background-color: var(--white);
  font-size: 13px;
  padding: 4px 10px;
}

.header p {
  margin: 20px auto;
}

.header-area.sticky {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #fff;
  transition: all 0.3s ease;
}

.titulo {
  width: 414px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.input-text {
  width: 90%;
  height: 45px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  margin: 0;
  padding-block: 0px;
  padding-inline: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-lavender-gray);
  border: 2px solid var(--color-light-gray);
  color: var(--color-gunmetal);
}

.checkBoxDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  gap: 10px;
}

.checkBox {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  margin: 0;
  background-color: #f1f5f7;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkBox:checked {
  background-color: var(--color-viridian);
}

.checkBox::before {
  content: '';
  width: 5px;
  height: 13px;
  border: 4px solid transparent;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) scale(1);
}

.checkBox:checked:before {
  border-color: white;
}

.chckbx {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkBoxDiv label {
  text-align: left;
  font-size: 17px;
}

.chckbxItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-text::-webkit-input-placeholder {
  line-height: 45px;
}

.input-text::placeholder {
  color: #adc1d1;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.paleta-colores {
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: transparent;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.seccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divisor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 95%;
  margin: 10px auto;
  gap: 10px;
  object-fit: fill;
}

.divisor p {
  color: var(--color-viridian);
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  object-fit: fill;
  width: 100%;
  white-space: nowrap;
}

.line {
  object-fit: fill;
  width: 100%;
}

.divisor hr {
  border: 2px solid #85a3bb;
  width: 100%;
}

.inputDetalle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputDetalle p {
  color: #85a3bb;
  font-size: 21px;
  margin: 0;
}

.opciones {
  display: flex;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  padding-inline: 20px;
  padding-block: 5px;
  box-shadow: 0px -3px 5px inset;
}

.opcionesEstilo {
  display: flex;
  justify-content: flex-start;
  object-fit: fill;
  width: 30%;
}

.opcion {
  border-color: #85a3bb;
  border-radius: 5px;
  border-style: solid;
  box-shadow: none;
  height: 32px;
  width: 32px;
  font-weight: bold;
}

.italic p {
  font-style: italic;
}

.sub p {
  text-decoration: underline;
}

.opcionesAlineacion {
  display: flex;
  justify-content: flex-end;
  object-fit: fill;
  width: 70%;
}

.inputText {
  padding-inline: 0px;
  gap: 0;
  display: flex;
}

.inputTexto {
  width: 100%;
  height: 170px;
  object-fit: contain;
  margin: 0;
  border-radius: 0px 0px 20px 20px;
  border: none;
  box-shadow: 0px 3px 4px #85a3bb inset;
}

.inputTexto::placeholder {
  color: #85a3bb;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.btnEdit {
  background: url("./assets/edit-pencil.svg") no-repeat scroll 0 0 transparent;
  height: 30px;
  width: 30px;
  border: none;
}

.btnDelete {
  background: url("./assets/xmark-circle.svg") no-repeat scroll 0 0 transparent;
  height: 30px;
  width: 30px;
  border: none;
}

.btnOk {
  background: url("./assets/check.svg") no-repeat scroll 0 0 transparent;
  height: 30px;
  width: 30px;
  border: none;
}



.incluye {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #adc1d1;
  border-radius: 10px;
  gap: 10px;
}

.incluyein {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  border-radius: 10px;
}

.incluyeinput {
  background-color: transparent;
  border: none;
  transition: width 0.2s ease;
  min-width: 10px;
}

.incluyeOpt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f7;
  border-radius: 10px;
}

.incluyeOpciones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #f1f5f7;
  padding: 10px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auto-resizing-input {
  font-size: 16px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: width 0.2s ease;
  min-width: 20px;
}

.optionIncluye {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu ul li a {
  padding: 10px 15px;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
  color: #00a86b;
  border-bottom: 2px solid #00a86b;
}

.main-btn {
  background-color: var(--color-viridian);
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.main-btn:hover {
  background-color: var(--color-yellow-green);
}


.sub-menu {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.sub-menu li a {
  padding: 8px 15px;
  font-size: 14px;
}
.sub-menu {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.sub-menu li a {
  padding: 8px 15px;
  font-size: 14px;
}
